<h1>Go Chat</h1>

<body background="africa-15428_1280.jpg">

<% if current_user %>

<div id="landing">
  <a href="/comments/new" class="btn btn-primary" role="button">New Comment</a>
  <br><br>
  <a href="/comments" class="btn btn-primary" role="button">View Comments</a>
  <br><br>
  <a href="/users/<%= current_user.id %>/" class="btn btn-primary" role="button">Profile</a>
</div>  

<% else %>
  <%= render template: "sessions/new" %>
<% end %>

</body>

